body {
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.cabecalho {
    text-align: center;
    padding: 40px 0;
}

.cabecalho h1 {
    color: white;
    font-size: 45px;
    letter-spacing: 10px;
}

.personagens-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.lista-personagens {
    width: 330px;
    min-height: 496px;
    position: relative;
    margin-bottom: 20px;
}

.btn-seta {
    background-color: rgba(100, 100, 100, .5);
    width: 70px;
    height: 70px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-seta.btn-voltar {
    transform: rotate(180deg);
    visibility: hidden;
}

.btn-seta:hover {
    background-color: rgba(140, 140, 140, .9);
}

.cartao {
    opacity: 0;
    position: absolute;
    padding: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    transition: opacity .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.cartao .imagem-personagem {
    width: 100%;
    max-height: 280px;
}

.cartao .nome {
    background-color: rgba(179, 177, 185, 0.7);
    padding: 8px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.cartao .descricao {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cartao .descricao .titulo {
    background-color: #333;
    font-size: 20px;
    color: #fff;
    padding: 12px;
}

.cartao .descricao .texto {
    font-size: 14px;
    padding: 12px;
    text-align: justify;
    max-height: 110px;
    overflow-y: auto;
}

.cartao.fundo-1 {
    background: url(../img/fundo-1.svg);
}

.cartao.fundo-2 {
    background: url(../img/fundo-2.svg);
}

.cartao.fundo-3 {
    background: url(../img/fundo-3.svg);
}

.cartao.fundo-4 {
    background: url(../img/fundo-4.svg);
}

.cartao.fundo-5 {
    background: url(../img/fundo-5.svg);
}

.cartao.fundo-6 {
    background: url(../img/fundo-6.svg);
}